<%- include('../layouts/admin_header.ejs') %>

<h1>Admin registration from</h1>

<form action="/admin/register" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="name" placeholder="enter name" required><br><br>
    <input type="email" name="email" placeholder="enter email" required><br><br>
    <input type="text" name="mobile" placeholder="enter mobile" required><br><br>
    <input type="password" name="password" placeholder="enter password" required><br><br>
    <input type="submit" value="Register"><br><br>
</form>

<%- include('../layouts/admin_footer.ejs') %>